  .acessos-list {
  max-height: calc(5 * 60px); /* mostra 2 acessos visíveis */
  overflow-y: auto; /* ativa a barra de rolagem */
  padding-right: 40rem; /* espaço extra à direita para “empurrar” a scrollbar */
}

/* largura do scrollbar */
.acessos-list::-webkit-scrollbar {
  width: 6px;
}

.acessos-list::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

.acessos-list::-webkit-scrollbar-track {
  background: transparent;
}